@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 20px auto;
}
